<div class="wrapper">
    <section id="masthead">
        <div class="tagline">
            <h1>Interesting Portfolio</h1>
        </div>
    </section>
    <h1>Portfolio</h1>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art1.jpg" alt="art number 1">
                <figcaption class="iamge-name">Birds on sheet</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art2.jpg" alt="art number 2">
                <figcaption class="iamge-name">Flowers of hope</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art3.jpg" alt="art number 3">
                <figcaption class="iamge-name">Hands Gradient</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art4.jpg" alt="art number 4">
                <figcaption class="iamge-name">Poseidon</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art5.jpg" alt="art number 5">
                <figcaption class="iamge-name">Happy now?</figcaption>
            </figure>
        </div>
        <div class="portfolio-box">
            <figure class="portfolio-image-container">
                <img class="img-in-box" src="./img/art6.jpg" alt="art number 6">
                <figcaption class="iamge-name">Art face</figcaption>
            </figure>
        </div>
    </div>
</div>